name: Run thetastreak
on:
  #schedule:
  #  - cron: "5 */6 * * *"
  # push:
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  thetastreak:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout configuration
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: 'pip'

      - name: Cache playwright browsers
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright

      - name: Install requirements
        run: pip install playwright

      - name: Install playwright browsers
        run: playwright install firefox
        if: steps.playwright-cache.outputs.cache-hit != 'true'

      - name: Run thetastreak
        env:
          TG_USERNAME: ${{ secrets.TG_USERNAME }}
          TG_PASSWORD: ${{ secrets.TG_PASSWORD }}
        run: thetastreak/thetastreak.py
